@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply scroll-smooth bg-rp-base font-sans text-rp-text antialiased;
  }

  a {
    @apply underline transition-colors duration-200 hover:text-rp-muted focus:text-rp-subtle;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

#draw-area {
  background-image: radial-gradient(#21202e 20%, transparent 20%);
  background-size: 12px 12px;
}
